.erp-bpm-message {
  display: flex;
  flex-direction: column;
  height: 100%;

  .erp-bpm-message__list {
    flex: 1;
    height: 0;
    margin-bottom: 10px;
    padding: 10px;
    overflow: auto;
  }

  .erp-bpm-message__editor {
    position: relative;
  }

  .erp-bpm-message__btns {
    position: absolute;

    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }

  .erp-bpm-message__file {
    font-size: 20px;
    cursor: pointer;
  }

  .rc-textarea {
    margin-bottom: 34px;
  }
}
