.erp-bpm-message {
  display: flex;
  flex-direction: column;
  height: 100%;

  .erp-bpm-message__list {
    flex: 1;
    height: 0;
    margin-bottom: 10px;
    padding: 10px;
    overflow: auto;
  }

  .erp-bpm-message__editor {
    position: relative;
  }

  .erp-bpm-message__btns {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .erp-bpm-message__send {
  }

  .rc-textarea {
    margin-bottom: 34px;
  }
}
