.erp-panel {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-right: 16px;
  overflow: hidden;
  white-space: nowrap;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 1px 10px 0 #e9ebed;
  transition: width 0.3s;

  .erp-panel__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 43px;
    padding: 0 19px;
    color: #ffffff;
    background: #33c491;
    border-radius: 16px 16px 0 0;

    .erp-panel__title {
      margin: 0;
      color: #ffffff;
      font-size: 14px;
    }
  }

  .erp-panel__collapse {
    justify-content: center;
    padding: 0;
  }

  .erp-panel__content {
    flex: 1;
    height: 0;
    margin-top: 16px;
    overflow: auto;

    .erp-panel__title-vertical {
      position: absolute;
      padding: 6px;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      writing-mode: tb-rl;
    }
  }

  .erp-panel__icon {
    font-size: 16px;
    cursor: pointer;
  }

  .erp-panel__icon-refresh {
    margin-right: 16px;
  }
}
