.erp-table_container {
  position: relative;
  user-select: none;

  .erp-table_handle {
    position: fixed;
    left: -1000px;
    width: 5px;
    background: var(--antd-wave-shadow-color, '#1890ff');
    cursor: col-resize;
    opacity: 0.3;
  }
}
