.erp-bpm-message-item {
  display: flex;
  margin-bottom: 10px;

  .erp-bpm-message-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    color: #fff;
    font-size: 20px;
    background: #cce4fc;
    border-radius: 50%;
  }

  .erp-bpm-message-main {
    flex: 1;
    width: 0;
    margin-left: 10px;

    .erp-bpm-message-main__header {
      // line-height: 36px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      // height: 36px;
      margin-bottom: 0;
    }

    .erp-bpm-message-main__user {
      margin-right: 10px;
      font-weight: bold;
      line-height: 36px;
    }

    .erp-bpm-message-main__time {
      font-size: 12px;
    }

    .erp-bpm-message-main__content {
      display: inline-block;
      max-width: 80%;
      margin-bottom: 0;
      padding: 10px;
      line-height: 26px;
      word-break: break-all;
      background: #fff;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

      img {
        max-width: 100%;
        max-height: 300px;
      }
    }
  }

  .erp-bpm-message-main__file {
    display: flex;
    align-items: center;
    width: 70%;
    max-width: 200px;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .erp-bpm-message-main__img {
    width: 32px;
    margin-right: 10px;
  }

  .erp-bpm-message-main__fileName {
    word-break: break-all;
  }
}

.erp-bpm-message-item__right {
  flex-direction: row-reverse;

  .erp-bpm-message-avatar {
    background: #00875a;
  }

  .erp-bpm-message-main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
    margin-left: 0;

    .erp-bpm-message-main__header {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      align-items: center;
    }

    .erp-bpm-message-main__user {
      margin-right: 0;
      margin-left: 10px;
    }

    .erp-bpm-message-main__time {
      // margin-right: 10px;
      margin-left: 0;
    }

    .erp-bpm-message-main__content {
      white-space: break-spaces;
      word-break: break-all;
      background: #cce4fc;
    }
  }
}
