.wrapper {
  display: flex;
  margin: 20px;

  .column {
    flex: 1;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .gap {
    margin-right: 20px;
  }

  .left-content {
    height: 300px;
  }
}
